@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --tw-scrollbar: #d1d5db;
  --tw-scrollbar-thumb: #9ca3af;
  --tw-scrollbar-hover: #6b7280;

  --tw-dark-scrollbar: #222351;
  --tw-dark-scrollbar-thumb: #4b5563;
  --tw-dark-scrollbar-hover: #6b7280;
}

* {
  font-family: "Inter", serif;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 2px;
    background-color: var(--tw-dark-scrollbar);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--tw-dark-scrollbar-thumb);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--tw-dark-scrollbar-hover);
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--tw-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: var(--tw-scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--tw-scrollbar-hover);
}


body {
  font-size: 14px;
}

.app {
  /* grid-template-columns: repeat(5, minmax(240px, auto)); */
  /* grid-template-rows:  minmax(81px, auto); */
  /* align-content: flex-start; */
}

.app .tablet-nav {
  box-shadow: 0 4px 16px 4px rgb(0 0 0 / 0.1);
}